# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

#Rom stuff
*.gba
*.sav
*.sgm

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
CCB_Round1_01.png
CCB_Round1_02.png
CCB_Round1_03.png
CCB_Round1_04.png
CCB_Round1_05.png
CCB_Round1_06.png
CCB_Round1_07.png
CCB_Round1_08.png
CCB_Round1_09.png
CCB_Round1_10.png
CCB_Round1_11.png
CCB_Round1_12.png
CCB_Round1_13.png
CCB_Round1_14.png
CCB_Round1_15.png
CCB_Round1_16.png
CCB_Round1_17.png
CCB_Round1_18.png
CCB_Round1_19.png
CCB_Round1_20.png
CCB_Round1_21.png
CCB_Round1_22.png
CCB_Round1_23.png
CCB_Round1_24.png
CCB_Round1_25.png
CCB_Round1_26.png
CCB_Round1_27.png
CCB_Round1_28.png
CCB_Round1_29.png
CCB_Round1_30.png
CCB_Round1.sav
CCB_Round1.sav
CCB_Round1.sav